
/* ================================  Global ================================ */
*{ /*Általános mindenre jellemző beállítások*/
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
}
html{
    height: 100%;
}

body{ 
    background: grey; /*Minden lapon megjelenő háttér ami képre is váltható*/
    margin:0;
    padding:0;
    height:100%;
}
#wrapper{ /*különböző diveket(header, menu,body,footer) tartalmazó div*/
    min-height:100%;
    width: 100%;
    min-width:100%;
    position: relative;
    margin: 0 auto;
    background: #AC7550;
}

div#tartalom{
   position:relative;
   margin-top:101px;
   margin-left:auto;
   margin-right:auto;
   padding-bottom:20px;
   background:#6CACDD;
}
.menugombkinti{
    float:left;
    cursor:pointer;
    padding:12px;
    background: #2E4A5A;
}
.icon{
    background:white;
    display:block;
    width: 22px;
    height:4px;
}
.icon + .icon{
    margin-top:4px;
}
/* ================================  HEADER ================================ */
#header{
    top:0px;
    background:#C5B935;
    min-width:1200px;
    height:100px;
    width:100%;
    position:fixed;
    margin-top:0px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    z-index:999;
}

/* ================================  OLDALSÁV ================================ */
div#oldalsavbal{  
  margin-left:-250px;
  top:0px;
  width: 250px;
  background: #2E4A5A;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;  
}
div#oldalsavjobb{
  display:none; /* Megjelenítése letiltva*/
  margin-right: -250px;
  top:0px;
  right: 250px;
  width: 250px;
  background: #2E4A5A;
  position: fixed;
  height: 100%;
  overflow-x: auto;
  z-index: 1000;  
}


   /*=== Menü ===*/
   
   
div#menutarolo{
    background: #63A84E; /*menü box szín, ha végleges a beállítás ki lehet szedni */
    width:250px;
    height:auto;
    margin-bottom:auto;
    margin-top:50px;
}
ul#menu{
    margin-left:0px;
    list-style: none;
    border-bottom:solid 1px;
}
ul#menu li{
    text-align:center;
    border-top:solid 1px;
    background: #2E4A5A;
    width: 250px;
    transition: ease .4s;
}
ul#menu li:hover{
    background: #EAB138;
    transition: ease .4s;
}
ul#menu li a{
    color: #27B699;
    padding: 25px;
    display: block;
    transition: ease .4s;
}
ul#menu li a:hover{ 
    color:black;
    transition: ease .4s;   
}


/*=== Login Ablak ===*/


div#logintarolo{
    background:white;
    width:250px;
    height:250px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}


/* ================================  FOOTER ================================ */

#footer{
    top:100%;
    bottom:0;
    background: #E69696;
    height: 35px;
    width:100%;
    clear:both;
    position: absolute;
}


