/*====================== GLOBÁLIS BEÁLLÍTÁSOK ================================*/
*{ 
    margin:0;
    padding:0; 
    font-family: sans-serif;
    text-decoration: none;
}
body,html{ 
    margin:0;
    padding:0;   
    height:100%;
}

#wrapper{
    min-height:100%;
    position:relative;
    min-width:100%;
    background: graytext;
    
}
 .tartalom{
   margin-top:60px;
   padding-left:100px;
   padding-right:100px;
   padding-bottom:150px;
   padding-top:50px;
   display: inline-block;
   width:calc(100% - 200px);
}

/* ============================ HEADER =======================================*/

#header{
    top:0px;
    background:#EDF0F2;
    height:60px;
    width:100%;
    position:fixed;
    margin-bottom:10px;
    margin-right:auto;
    z-index:1200;
}
.icon{   
    background:black;
    display:block;
    width: 45px;
    height:8px;
}
.icon + .icon{
    margin-top:4px;
}
#mediamenugomb{
    float:right;
    cursor:pointer;
    padding:10px;
    display:none;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    
}
#kosar{
    margin-right:5px;
    padding:2.5px;
    float:right;
    display:block;
    background:#5894B7;
}
#logreg{  
    margin-top:25px;
    margin-bottom:5px;
    margin-right:10px;
    margin-left:10px;
    float:right;
}
#logreg a:link{
   color:#AAB8C1;
}
#logreg a:visited{
    color:#AAB8C1;
}
.logo{
    width:225px;
    height: 60px;
    display:block;
    float:left;
    background: url(../designstuff/logoOff.jpg) center top no-repeat;
    
}
.logo:hover{
    background: url(../designstuff/logoOn.jpg) no-repeat;
}

/*----------- MENÜ -----------*/

div#menutarolo{
    height:60px;
    float:right;
    width:560px;
}
ul#menu{
    list-style: none;
}
ul#menu li{ 
    float:left;
    text-align:center;
    width: 140px;
}
ul#menu li a{
    padding-top:35px;
    height: 20px;
    color: #AAB8C1;
    display: block;
    transition: ease .4s;
}
ul#menu li div{
    background: #EDF0F2;
    display:none;
}
ul#menu li div a{

}
ul#menu li:hover div{
    display:block;
}
ul#menu li a:hover{ 
    color:#5894B7;
    transition: ease .4s;   
}
.jelzo{
    background: #5894B7;
    display:block;
    width: 140px;
    height:5px;
}


/* =============================== FOOTER ====================================*/

#footer{
    position:absolute;
    bottom:0;
    width: 100%;
    background: #EDF0F2;
    height: 100px;
}

/* =============================== KEZDŐLAP ==================================*/
#Kezdolap{
    
}
#tesztreszleg{
    height: 2000px;
    padding:50px;
    border:solid 2px black;
}
.boxokl{
  padding:10px;
  float:left;
}
.boxokr{
    padding:10px;
    float:right;
}
/* ============================ LOGIN ========================================*/
#loginform{
    
}

/* ============================ KAPCSOLAT ====================================*/
#kapcsolat{
    
}
#formbox{
   padding-top:10px;
   padding-left:10px;
   padding-right: 10px;
   float:left;
   display:block;
   border:2px solid white;
   background:#AAB8C1;
   width: 350px;
   height: 385px;
}
#formbox label{
    font-weight: bold;
    margin-left:25px;
    width:300px;
}
#formbox input[type="text"]{
    margin-left:25px;
    margin-top:5px;
    margin-bottom:5px;
    font-size:20px;
    width: 300px;
}
#k_uzenet{
    margin-top:5px;
    margin-left:25px;
    font-size:20px;
    width: 300px;
    height:150px;
}
#k_kuldesgomb,#k_resetgomb{
    margin-top:8px;
    font-size:20px;
    width:150px;
    height:30px;
}
#k_kuldesgomb{
    margin-left:25px;
}
#infocim{
    padding:2px;
    float:left;
}
#inform p{
    padding-right: 5px;
    float:right;
    font-size:25px;
}
#inform ul{
    margin-top: 30px;
    border-top:1px solid black;
    list-style: none;
}
#inform ul li{
    padding:4px;
}
#inform{
    margin-left: 50px;
    background: white;
    display: block;
    float:left;
    width: 250px;
    height: 395px;
    border: 2px solid black;
    
}
/* =============================== Üzenő boxok ============================== */
#uzenobox{
  position:absolute;
  margin-top:-45px;
  background:#AAB8C1;
  border:1px solid black;
  height: 25px;
  text-align:center;
  width:500px;
  float:left;
  display:none;
}
.uzenoboxultimate{
    background: aqua;
    position:relative;
    margin-top:-45px;
    text-align: center;
}

/* -------------- Szöveges részek -------------- */
.hatter{
    background: whitesmoke;
}

/* =============================== MÉDIA BEÁLLÍTÁSOK ======================== */
@media (max-width: 1025px){
    #menutarolo {
        display: none;
    }
    #mediamenugomb{
        display:inline-block;
    }
}