/* ================================  Global ================================ */
*{ /*Általános mindenre jellemző beállítások*/
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
}
html{
    height: 100%;
}

body{ 
    background: grey; /*Minden lapon megjelenő háttér ami képre is váltható*/
    margin:0;
    padding:0;
    height:100%;
}
#wrapper{ /*különböző diveket(header, menu,body,footer) tartalmazó div*/
    min-height: 100%;
    width: 100%;
    min-width:1200px;
    position: relative;
    margin: 0 auto;
    background: #AC7550;
}
#menugombkinti{
    float:left;
}

/* ================================  HEADER ================================ */
#header{
    background:#C5B935;
    min-width:1200px;
    width:1200px;
    margin-top:2px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

/* ================================  MENU ================================ */
div#menutarolo{
    background: #63A84E;
    width:160px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    margin-top:20px;
}
ul#menu{
    margin-left: 0px;
    list-style: none;
}
ul#menu li{
    background: #2E4A5A;
    width: 160px;
    margin: 0 2px 0 0;
}
ul#menu li:hover{
    background: #EAB138;
}
ul#menu li a{
    color: #27B699;
    padding: 15px;
    display: block;
}
ul#menu li a:hover{
    
    color:black;
}

/* ================================  OLDALSÁV ================================ */
div#oldalsavbal{
  display:none;
  margin-left: -250px;
  top:0px;
  left: 250px;
  width: 250px;
  background: #2E4A5A;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;  
}
div#oldalsavjobb{
  display:none; /* Megjelenítése letiltva*/
  margin-right: -250px;
  top:0px;
  right: 250px;
  width: 250px;
  background: #2E4A5A;
  position: fixed;
  height: 100%;
  overflow-x: auto;
  z-index: 1000;  
}
/*=== Login Ablak ===*/
div#logintarolo{
    width:160px;
    margin-top:100px;
    margin-left:20px;
    margin-right:auto;
}


/* ================================  FOOTER ================================ */

#footer{
    background: #E69696;
    height: 35px;
    width:100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}


