div#oldalsavbal{  
  margin-left:-250px;
  top:0px;
  width: 250px;
  background: #2E4A5A;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;  
}

div#oldalsavjobb{
  display:none; /* Megjelenítése letiltva*/
  margin-right: -250px;
  top:0px;
  right: 250px;
  width: 250px;
  background: #2E4A5A;
  position: fixed;
  height: 100%;
  overflow-x: auto;
  z-index: 1000;  
}

#oldalsavgombbent{
    float:right;
}